# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.vscode/

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Core specific
.idea
venv/
media/
logs/
.env
.test.env
pylint_report.txt
report.xlsx
requirements-mac.txt

# Google FCM
google-services.json

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
cov.xml
htmlcov/

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

.DS_Store